.sections {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 5px;
}

.section {
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__groups {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.group {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.group__actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}